<div class="container" appSmoothScroll>
  <div class="box box-blue"></div>
  <div class="box box-green"></div>
  <div class="box box-yellow"></div>
  <div class="box box-orange"></div>
  <div class="box box-red"></div>
  <div class="box box-grey"></div>
  <div class="box box-blue"></div>
  <div class="box box-green"></div>
  <div class="box box-yellow"></div>
  <div class="box box-orange"></div>
  <div class="box box-red"></div>
  <div class="box box-grey"></div>
  <div class="box box-blue"></div>
  <div class="box box-green"></div>
  <div class="box box-blue"></div>
  <div class="box box-green"></div>
  <div class="box box-yellow"></div>
  <div class="box box-orange"></div>
  <div class="box box-red"></div>
  <div class="box box-grey"></div>
  <div class="box box-blue"></div>
  <div class="box box-green"></div>
  <div class="box box-yellow"></div>
  <div class="box box-orange"></div>
  <div class="box box-red"></div>
  <div class="box box-grey"></div>
  <div class="box box-blue"></div>
  <div class="box box-green"></div>
</div>
